#card {
    display: flex;
    flex-direction: column;
    height: 340px;
    width: 340px;
    margin-top: 2rem;
    border-radius: 15px;

    img {
        height: 100%;
        width: 340px;
        object-fit: cover;
        border-radius: 15px;
    }

    h2 {
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        padding-top: 17rem;
        padding-left: 1rem;
        display: flex;
        align-items: flex-end;
        width: 300px;
        color: #FFFFFF;
    }
}