.header{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
    }

    &__links{
        list-style: none;
        font-size: 24px;
        color: #FF6060;
        width: 309px;
        height: 34px;
        display: flex;
        justify-content: space-between;
    }
}
  
